<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tunnels.mpdcontroller</string>
	<key>connections</key>
	<dict>
		<key>025CFBD0-E677-4FDF-8FE9-5EE457047C4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E211DD3D-C18F-4A0F-AF53-B2A8AFEDB41D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10D447AE-25F5-4A1D-BB29-64302C5411FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AE3BB23-D37C-4CE4-9745-21AA07287DE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AE3BB23-D37C-4CE4-9745-21AA07287DE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E14DFF-420D-4897-9FF0-BD7EEDF94972</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B12E95F-8F32-400E-A887-2A06F84E2615</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9BA5AE1-324C-4670-871D-CE1F194CC38C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B2148AD-3162-4DF2-87E2-724548EC4B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92682BEA-7870-475E-B507-7CB0D5BD071F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>460C9157-2FA1-4618-B805-5874A1078F94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>012B7F5D-DFF5-477D-98EB-470E7DF81E12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8920D2EF-22CB-48CD-A978-6376FA388AC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2372DBC-C28F-421E-8E91-1FAA5A33A10D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>907FF73F-46D8-4CD6-8C24-3DAFC7E9A246</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3D69637-FA36-4F1E-ACB4-21511DFF0063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C95BF847-AF2B-4E7F-B79B-73975F16679E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8920D2EF-22CB-48CD-A978-6376FA388AC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9BA5AE1-324C-4670-871D-CE1F194CC38C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C121864-C05B-47BB-A742-792721C650AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D35EA5F6-518B-4103-AA3F-0ACA63983404</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B2148AD-3162-4DF2-87E2-724548EC4B3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D97CE7A4-4A3A-4CC8-9BE8-028D0964F7BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>460C9157-2FA1-4618-B805-5874A1078F94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E211DD3D-C18F-4A0F-AF53-B2A8AFEDB41D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F783B864-D782-42D7-8287-D22F321175D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE924FD8-FF07-4EA3-8310-FC82D638AC8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>907FF73F-46D8-4CD6-8C24-3DAFC7E9A246</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tunnels</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>mpd controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Now Playing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>m playing</string>
				<key>subtext</key>
				<string>display song currently playing in mpd</string>
				<key>text</key>
				<string>Now Playing</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD69778A-A49B-44D1-9F54-B24359DEF8B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	do shell script "/usr/local/bin/mpc current"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the album has been added to the main playlist</string>
				<key>title</key>
				<string>Album Added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F783B864-D782-42D7-8287-D22F321175D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m add album</string>
				<key>subtext</key>
				<string>add an album to the main playlist</string>
				<key>text</key>
				<string>Add Album to mpd</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>025CFBD0-E677-4FDF-8FE9-5EE457047C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/mpc clear &amp;&amp; /usr/local/bin/mpc search album {query} | /usr/local/bin/mpc add &amp;&amp; /usr/local/bin/mpc play</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E211DD3D-C18F-4A0F-AF53-B2A8AFEDB41D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/mpc search title {query} | /usr/local/bin/mpc add &amp;&amp; /usr/local/bin/mpc play</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8920D2EF-22CB-48CD-A978-6376FA388AC6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the song has been added to the main playlist</string>
				<key>title</key>
				<string>Song added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D2372DBC-C28F-421E-8E91-1FAA5A33A10D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m add song</string>
				<key>subtext</key>
				<string>add a song to the main playlist and play</string>
				<key>text</key>
				<string>Add Song to mpd</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C95BF847-AF2B-4E7F-B79B-73975F16679E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the main playlist is now empty</string>
				<key>title</key>
				<string>Playlist Cleared</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>92682BEA-7870-475E-B507-7CB0D5BD071F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>m clear</string>
				<key>subtext</key>
				<string>clear mpd's main playlist</string>
				<key>text</key>
				<string>Clear Playlist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D35EA5F6-518B-4103-AA3F-0ACA63983404</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/local/bin/mpc clear</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B2148AD-3162-4DF2-87E2-724548EC4B3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/local/bin/mpc playlist</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>907FF73F-46D8-4CD6-8C24-3DAFC7E9A246</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>m list</string>
				<key>subtext</key>
				<string>displays a set amount of songs from the main playlist</string>
				<key>text</key>
				<string>List Playlist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE924FD8-FF07-4EA3-8310-FC82D638AC8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Playlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E3D69637-FA36-4F1E-ACB4-21511DFF0063</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m volume</string>
				<key>subtext</key>
				<string>set the volume percentage (0-100)</string>
				<key>text</key>
				<string>Change the Volume</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10D447AE-25F5-4A1D-BB29-64302C5411FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>new volume: {query}</string>
				<key>title</key>
				<string>Volume changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06E14DFF-420D-4897-9FF0-BD7EEDF94972</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/mpc volume {query} | grep "volume" | cut -c8-11
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AE3BB23-D37C-4CE4-9745-21AA07287DE9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m random albums</string>
				<key>subtext</key>
				<string>add a random album to the main playlist</string>
				<key>text</key>
				<string>Add Random Album to mpd</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D97CE7A4-4A3A-4CC8-9BE8-028D0964F7BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the album(s) has been added to the main playlist</string>
				<key>title</key>
				<string>Album(s) Added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>012B7F5D-DFF5-477D-98EB-470E7DF81E12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>num=$1
((num2=$num-1))

declare -a requested_albums=$(/usr/local/bin/mpc list album | /usr/local/bin/gshuf -n 1)
/usr/local/bin/mpc clear

for album in `seq 1 $num2`; do requested_albums=("${requested_albums[@]}" "`(/usr/local/bin/mpc list album | /usr/local/bin/gshuf -n 1)`"); done

for count in `seq 0 $num2`; do /usr/local/bin/mpc find album "${requested_albums[$count]}" | /usr/local/bin/mpc add; done

/usr/local/bin/mpc play</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>460C9157-2FA1-4618-B805-5874A1078F94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m random songs</string>
				<key>subtext</key>
				<string>how many random songs to add main playlist?</string>
				<key>text</key>
				<string>Add Random Songs to mpd</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B12E95F-8F32-400E-A887-2A06F84E2615</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the song(s) have been added to the main playlist</string>
				<key>title</key>
				<string>Songs added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3C121864-C05B-47BB-A742-792721C650AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/local/bin/mpc listall | /usr/local/bin/gshuf -n{query} | /usr/local/bin/mpc add &amp;&amp; /usr/local/bin/mpc play</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9BA5AE1-324C-4670-871D-CE1F194CC38C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>012B7F5D-DFF5-477D-98EB-470E7DF81E12</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>025CFBD0-E677-4FDF-8FE9-5EE457047C4C</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>06E14DFF-420D-4897-9FF0-BD7EEDF94972</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>10D447AE-25F5-4A1D-BB29-64302C5411FA</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>159A291E-3339-491E-8D3F-79091BE0319B</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1AE3BB23-D37C-4CE4-9745-21AA07287DE9</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>1B12E95F-8F32-400E-A887-2A06F84E2615</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>2B2148AD-3162-4DF2-87E2-724548EC4B3E</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>3C121864-C05B-47BB-A742-792721C650AB</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>460C9157-2FA1-4618-B805-5874A1078F94</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>8920D2EF-22CB-48CD-A978-6376FA388AC6</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>907FF73F-46D8-4CD6-8C24-3DAFC7E9A246</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>92682BEA-7870-475E-B507-7CB0D5BD071F</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C95BF847-AF2B-4E7F-B79B-73975F16679E</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>C9BA5AE1-324C-4670-871D-CE1F194CC38C</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D2372DBC-C28F-421E-8E91-1FAA5A33A10D</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>D35EA5F6-518B-4103-AA3F-0ACA63983404</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>D97CE7A4-4A3A-4CC8-9BE8-028D0964F7BE</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>E211DD3D-C18F-4A0F-AF53-B2A8AFEDB41D</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E3D69637-FA36-4F1E-ACB4-21511DFF0063</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>F783B864-D782-42D7-8287-D22F321175D3</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>FE924FD8-FF07-4EA3-8310-FC82D638AC8D</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
